.header{
    /* background-color: aqua; */
    box-shadow: 0px 1px 4px 0px #00000029;
    background-color: aquamarine;
    transition: all 0.8s ease-in-out;
}
.absolute{
    position: absolute;
    width: 1440px;
    z-index: 30;
    
}
.fixed{
    position: fixed;
    width: 1440px;
    z-index: 30;
}
.container{
    width: calc(100% - 252px);
    margin: auto;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    position: relative;
}
.container .navbar{
    display: none;
    display: flex;
    align-items: center;
}
.navbar img{
    display:block;
}
.navbar ul{
    display: flex;
    margin-right:84px ;
    width: 499px;
    justify-content: space-between;
}
.navbar ul li a{
    /* width: 124.75px; */
    font-size: 16px;
    color: #282828;
}
.navbar ul li a:hover{
    color:#28A745;
}
.loginBtn {
display: none;
}
.loginBtn button{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 166px;
 height: 44px;
 background-color: white;
 /* background-color: #fff; */
 border: 2px solid #28A745;
 border-radius: 8px;
 /* transition: all 300ms ease-out; */
}
.loginBtn svg{
    width: 24px;
    height: 24px;
    margin-left: 4px;
    fill:#28A745;
}
.loginBtn span{
    font-family: var(--font-vazirmatn-numbers);
    font-weight: 500;
    font-size: 18px;
    line-height: 28.13px;
    color: #28A745;
}
.mobileLogin{
    width: 40px;
    height: 40px;
    border: 1px solid #28A745;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.userInfo p{
    font-family: var(--font-vazirmatn-numbers);
    font-weight: 500;
    font-size: 18px;
    color: #28A745;
    cursor: pointer;
}
.userInfo svg{
    display: block;
    
}
.userMenue{
position: absolute;
left: -40px;
top:69px;
z-index: 15;
background-color: #fff;
width: 246px;
border-radius: 11px;
display:  flex;
flex-direction: column;
outline: none;
/* padding: 0 12px; */
/* border: 1px solid black; */

}
.userMenue li{
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* background-color: blueviolet; */
}
.userMenue li:nth-last-child(1){
    color:#D40000;
    position: relative;
}
.userMenue li:nth-last-child(1)::after{
    content: "";
    position: absolute;
    top:0;
    left: 12px;
    width: 90.24%; /* طول دلخواه */
    height: 1px;
    background: #0000001F;
}
.userMenue li span{
    display: inline-block;
    width: 24px;
    height:24px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.userMenue li p{
    margin-right: 8px;
}
.userMenue li:nth-child(1){
    font-family: var(--font-vazirmatn-numbers);
    font-weight: 500;
    font-size: 16px;
    color: #10411B;
}
.userMenue li:nth-child(2),.userMenue li:nth-child(3){
font-family: var(--font-yekan-bakh);
font-weight: 300;
font-size: 14px;
}
.userMenue li:nth-child(2) svg,.userMenue li:nth-child(3) svg{
    margin-right: 12px;
}
.userMenue li:hover{
    background-color:#F4F4F4;
}
/* .loginBtn button.clicked{
    opacity: 0;
    transform: scale(1.1);
} */

