
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width:1440px;
  margin: auto;
  font-family:var(--font-yekan-bakh);
  font-weight: 400;

}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media(max-width:480px){
  html,
body {
  max-width:480px;
}
}
@media(min-width:481px) and (max-width:768px){
  html,
  body {
    max-width:768px;
  }
}

@media(min-width:769px) and (max-width:1200px){
  html,
  body {
    max-width:1200px;
  }
}


a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,input,textarea{
  font-family: inherit;
}
ul{
  list-style-type: none;
}
button{
  cursor: pointer;
}

.css-1m8qzkt {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 200;
}
.css-137m4ck{
 
}
.zm-IconNextButton{
  
}
.zm-IconPrevButton{
  
}
.zm-Header{
  
}
.zm-DaysButton{
  
}
.zm-MonthPickerButton{
  
}
.zm-YearPickerButton{
  
}

/* //////////////////////////////////// */
