.container{
    /* background-color: beige; */
}
.container .label{
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 68px;
    gap: 5px;
}
.container .label p{
    font-family: var(--font-yekan-bakh) !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    color: #000000 !important;
    text-align: center !important;
    margin: 0 !important;
}
.label img{
    width: 25px;
    height: 25px;
}

 @-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  
  .available,.notAvailable {
    margin-top: 15px;
    display: inline-block;
    padding: 6px 14px;
    font-family: var(--font-vazirmatn-numbers);
    font-weight: 400;
    font-size: 15px;
    /* font-weight: bold; */
    color: #28A745;
    background-color: #caecd0;
    border-radius: 12px;
    -webkit-animation: pulsate-bck 0.8s ease-out infinite ;
	        animation: pulsate-bck 0.8s ease-out infinite ;
  }
  .notAvailable{
    color: #e74d3c;
    background-color: #ff31314a;
  }
  
  @media (max-width:768px){
    .container{
      /* background-color: beige; */
      display: flex;
      flex-direction: column;
      align-items: center;
  }
    .container .label{
      display: flex;
      align-items: center;
      margin-top: 16px;
      
      gap: 5px;
      margin-left: 0;
      margin-top: 5px;
      justify-content: center;
  }
  .container .label p{
      font-family: var(--font-yekan-bakh) !important;
      font-weight: 400 !important;
      color: #000000 !important;
      text-align: center !important;
      margin: 0 !important;

      font-size: 12px !important;
  }
  .label img{
      width: 18px;
      height: 18px;
  }
  .available,.notAvailable {
    border-radius: 8px;
    margin-top: 10px;
    font-size: 12px;
  }
  }
  @media (min-width:769px) and (max-width:1200px){

    .container .label p{
      font-size: 16px !important;
  }
    .label img{
      width: 20px;
      height: 20px;
  }
  }