.container{
    width: 307px;
    height: 234px;
/* background-color: bisque; */
background-color: #fff;
padding: 12px;
padding-top: 20px;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 36px;
}
.title{

    width: 100%;
    padding-bottom: 18px;
    position: relative;
    
}
.title h3{
    text-align:center;
    font-family: var(--font-yekan-bakh);
    font-weight: 500;
    font-size: 24px;
    color: #000;
    word-spacing: 2px;
}

.title::after{
    content: "";
position: absolute;
left:-12px;
bottom:0;
width: 307px; /* طول دلخواه */
height: 2px;
background: repeating-linear-gradient(
  to right,
  #00000080 0px, #00000080 6px, /* طول هر قسمت */
  transparent 5px, transparent 10px /* فاصله بین خطوط */
);

}
.container img{
    margin-top: 6px;
}
@media (max-width:768px){
    .container{
        width: 84.10%;
        max-width: 270px;
        min-height:fit-content;
        border:1px solid #0000001A;
        overflow: hidden;
    }
    .title::after{
    left:-10;
    width: 120%; /* طول دلخواه */
    }
    .container img{
        width: 120px;
        height: 120px;
        margin-top:30px;
    }
}
@media(min-width:769px) and (max-width:1439px){
    .container{
        width: 40%;
        max-width: 320px;
        min-height:fit-content;
        border:1px solid #0000001A;
        overflow: hidden;
    }
    .title::after{
    left:-10;
    width: 120%; /* طول دلخواه */
    }
    .container img{
        margin-top:30px;
    }
}

