.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 83px;
    padding-bottom: 96px;

}
.container div h2,.container div button{
    font-family: var(--font-yekan-bakh);
    font-weight: 500;
    color: #282828;
}
.container div {
    margin-right: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container div h2{
    font-size: 36px;
    text-align: right;
    word-spacing: 2px;
}
.container div button{
    margin-top: 80px;
    width: 323px;
    height: 75px;
    font-size: 28px;
    color: #28A745;
    word-spacing: 2px;
    border: none;
    border-radius: 16px;
    background-color: #D8FFE1;
}
.container img{
    margin-left: 48px;
}
@media (max-width:480px){
    .container{
        padding-bottom: 135px;
        padding-top: 33px;
        flex-direction: column-reverse;
        justify-content: unset;
        margin: 0 auto;
        width: 100%;
        max-width: 340px;
        min-width: 250px;
    
    }
    .container div {
        margin-right: 0;
    }
    .container div h2{
        font-size: 24px;
        line-height: 100%;
    }
    .container div button{
        margin-top: 20px;
        font-size: 20px;
        width: 232px;
        height: 58px;
    }
    .container img{
        margin: 0;
        width:100%;
        height: auto;
    }
}
@media (min-width:481px) and (max-width:1000px){
    .container{
        padding-bottom: 135px;
        padding-top: 33px;
        flex-direction: column-reverse;
        justify-content: unset;
        margin: 0 auto;
        width: 100%;
        max-width: 480px;
    
    }
    .container div {
        margin-right: 0;
    }
    .container div h2{
        font-size: 30px;
        line-height: 100%;
    }
    .container div button{
        margin-top: 40px;
        font-size: 20px;
        width: 232px;
        height: 58px;
    }
    .container img{
        margin: 0;
        width:100%;
        height: auto;
    }
}
@media (min-width:769px) and (max-width:1000px){
    .container{
        padding-bottom: 100px;
        max-width: 540px;
    
    }
}
@media (min-width:1001px) and (max-width:1439px){
    .container{
        width: 100%;
        max-width: 1048px;
        margin: 0 auto;
    
    }
    .container div {
        margin-right: 0;
    }
    .container div h2{
        font-size: 34px;
    }
    .container img{
        margin: 0;
        width:60%;
        height: auto;
    }
}