.container{
    position: absolute;
    z-index: 12;
    top:510px;
    width: 500px;
    /* background-color: chartreuse; */
}
.container .notFound{
    width: 100%;
    background-color: #fff;
    padding: 30px 50px;
    text-align: center;
    border: 1px solid #0000001F;
    border-radius:16px ;
    word-spacing: 2px;
    font-family: var(--font-yekan-bakh);
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.container ul{
    /* height: 365px; */
    height: fit-content;
    max-height: 365px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #0000001F;
    border-radius:16px ;
    overflow-y: scroll;
}
.container ul li{
    width: 100%;
    padding: 24px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #0000001F;
    
}
.detail{
    /* background-color: aquamarine; */

}
.detail .title{
    /* background-color: peachpuff; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    margin-left: 16px;
}
.title h3{
    word-spacing: 6px;
    font-family: var(--font-yekan-bakh);
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.title p{
    font-family: var(--font-yekan-bakh);
    font-weight: 300;
    font-size: 12px;
    color: #7D7D7D;
    margin-top: 10px;
}
.detail .reservBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 10px; 
    border-right: 1px solid #0000001F; 
}
.reservBtn p{
    display: flex;
    align-items: center;
    
    gap: 8px;
    font-family: var(--font-yekan-bakh);
    font-weight: 300;
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
}
.reservBtn button{
    width: 145px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    background-color: #28A745;
    border: none;
    font-family: var(--font-yekan-bakh);
    font-weight: 300;
    font-size: 16px;
    color: #fff;

}

.container ul::-webkit-scrollbar {
    width: 4px;
    background: transparent;
  }
  
.container ul::-webkit-scrollbar-thumb {
  background:#C0C0C0; 
  border-radius: 15px; 
  height: 10%;
  
}

.container ul::-webkit-scrollbar-track {
  background: transparent; 
  margin-top: 10px; 
  margin-bottom: 10px;
}

@media (max-width:480px){
    .container{
        top:364px;
        width:100% ;
        max-width: 480px;
        /* background-color: chartreuse; */
    }
    .container .notFound{
        border-radius:12px ;
        padding: 15px 25px;
        font-size: 20px;
    }
    .container ul{
        max-height: 170px;
        width: 100%;
        padding: 4px;
        border-radius:6px ;
    }
    .container ul li{
        padding: 4px 2px; 
    }
    .detail img{
        width: 80px;
        height:44.94px
    }
    .detail .title{

        margin-right: 5px;
        margin-left: 6px;
    }
    .title h3{

        font-size: 12px;
        word-spacing: 2px;
    }
    .title p{

        margin-top: 4px;
        font-size: 8px;
    }
    .detail .reservBtn{
 
        padding: 2px 3px; 
    }
    .reservBtn p{

        font-size: 10px;
        margin-bottom: 4px;
        gap: 4px;
    }
    .reservBtn p svg{
        width: 16px;
        height:16px;
    }
    .reservBtn button{
        font-size: 10px;
        width: 75px;
        height: 22px;
    
    }
    
    .container ul::-webkit-scrollbar-thumb {
      border-radius: 20px; 
      height: 5%;
      
    }   
}
@media(min-width:481px) and (max-width:768px){
    .container{
        top:495px;
        width:70%;
        min-width: 345px;
        /* background-color: chartreuse; */
    }
    .container .notFound{
        border-radius:16px ;
        padding: 25px 30px;
        font-size: 22px;
    }
    .container ul{
        max-height: 250px;
        width: 100%;
        padding: 4px;
        border-radius:10px ;
    }
    .container ul li{
        padding: 10px 6px;
        
    }
    .detail img{
        width: 28.90%;
        height:100%;
    }
    .detail .title{

        margin-right: 5px;
        margin-left: 6px;
    }
    .title h3{

        font-size: 16px;
        word-spacing: 2px;
    }
    .title p{

        margin-top: 4px;
        font-size: 10px;
    }
    .detail .reservBtn{
        width: 30%;
        padding: 2px 0px;
        padding-right: 4px; 
    }
    .reservBtn p{
        font-size: 12px;
        margin-bottom: 4px;
        gap: 4px;
    }
    .reservBtn p svg{
        width: 18px;
        height:18px;
    }
    .reservBtn button{
        font-size:12px;
        width: 100%;
        padding: 2px 4px;
        height: fit-content;
    
    }
    
    .container ul::-webkit-scrollbar-thumb {
      border-radius: 20px; 
      height: 5%;
      
    }  
}
@media(min-width:769px) and (max-width:1200px){
    .container{
        top:406px;
        width:60%;
        max-width: 480px;
        min-width: 400px;
        /* background-color: chartreuse; */
    }
    .container .notFound{
        border-radius:16px ;
        padding: 25px 30px;
        font-size: 22px;
    }
    .container ul{
        max-height: 250px;
        width: 100%;
        padding: 4px;
        border-radius:10px ;
    }
    .container ul li{
        padding: 10px 6px;
        
    }
    .detail img{
        width: 28.90%;
        height:100%;
        max-width: 132px;
        max-height: 75px;
    }
    .detail .title{

        margin-right: 5px;
        margin-left: 6px;
    }
    .title h3{

        font-size: 18px;
        word-spacing: 2px;
    }
    .title p{

        margin-top: 4px;
        font-size: 12px;
    }
    .detail .reservBtn{
        width: 27%;
        max-width: 118px;
        padding: 2px 0px;
        padding-right: 4px; 
    }
    .reservBtn p{
        font-size: 14px;
        margin-bottom: 8px;
        gap: 4px;
    }
    .reservBtn p svg{
        width: 18px;
        height:18px;
    }
    .reservBtn button{
        font-size:12px;
        width: 80%;
        padding: 4px 6px;
        height: fit-content;
    
    }
    
}