.sliderContainer {
    position: relative;
    width: 389px;
    height: 479px;
    margin-right: 96px;
    /* direction: ltr; */
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, opacity 0.2s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    border-radius: 35px;
    object-fit: cover;
  }
  
  .controls {
    /* background-color:blueviolet; */
    position: absolute;
    width: 100%;
    bottom: -64px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .controls .progress{
    font-family: var(--font-vazirmatn-numbers);
    font-weight: 500;
    font-size: 24px;
    width: 46px;
    letter-spacing: 3px;
  }
  .btnLeft,.btnRight {
    /* background-color: bisque; */
    background: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnLeft{
   transform: rotateZ(180deg);
  }
 
  .btnDisable{
    pointer-events: none;
    opacity: 0.5;
  }

  @media (max-width:480px){
    .sliderContainer {
      width: 76.4%;
      height:calc(284px + 10vh);
      margin-right: 10px;
      /* direction: ltr; */
    }
    .controls {
      bottom: -44px;
      gap: 26px;
    }
    .controls .progress{
      width: 39px;
      font-size: 20px;
    }
    .btnLeft svg,.btnRight svg {
      width: 24px;
      height: 24px;
    }
  }
  @media(min-width:481px) and (max-width:768px){
    .sliderContainer {
      width: 76.4%;
      height: calc(284px + 50vh);
      margin-right: 0;
      max-height: 580px;
    }
  }
  @media(min-width:769px) and (max-width:1200px){
    .sliderContainer {
      max-width: 420px;
      max-height: 470px;
      width: 76.4%;
      height: calc(284px + 60vh);
      margin-right: 0;
      margin: 0 auto;
    }
  }