.container{
    width: 100%;
    /* background-color: aqua; */
}
.container h2{
    font-family: var(--font-yekan-bakh);
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 11px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 24.75px;
    row-gap: 30px;
}
.card{
    border: 1px solid #0000001F;
    border-radius: 10px;
     box-shadow: 0px 0px 2px 0px #00000040;
}
.card img{
    display: block;
    width: 100%;
    height: auto;
}


.top{
    padding:8px 8px 6px 0 ;
    border-bottom: 1px solid#0000001F;
}
 .top h3{
    font-family: var(--font-yekan-bakh);
    font-size: 22px;
    font-weight: 300;
    color: #000000;
    line-height: 34.1px;
    margin-bottom: 6px;
}

 .top p{
    font-family: var(--font-yekan-bakh);
    font-size: 15px;
    font-weight: 300;
    color: #282828B2;
    margin-bottom: 6px;
}
.bottom{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom a{
    width: 64px;
    height: 25px;
    border: none;
    border-radius: 4px;
    background-color: #28A745;
    color: #fff;
    font-family: var(--font-yekan-bakh);
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;

}
.bottom p,.bottom span{
    font-family: var(--font-vazirmatn-numbers);
    font-weight: 400;
    color: #000000;
}
.bottom p{
    font-size: 12px;
    margin-left: 10px;
}
.bottom span{
    font-size: 16px;
    color: #009eca;
    margin-left: 5px;
}