.tourWrapper,.cartWrapper{
    position: absolute;
    background-color: #f3f3f3;
    width: 1440px;
    height: 100%;
    max-height: -webkit-fill-available;
    left: -126px;
    display: flex;
    justify-content: center;
}
/* .cartWrapper{
    flex-direction: column;
} */
/* .contactWrapper{
    position: absolute;
    background-color: #f3f3f3;
    max-height: -webkit-fill-available;
    left: -126px;
    width: calc(100vw - 96px);
    height: 100%;
    display: flex;
    justify-content: center; 
} */
@media (max-width:1000px){
    .cartWrapper{
        position: static;
        width: 100%;
        max-height: unset;
        background:none;
        align-items: center;
    }
}
@media (min-width:1001px) and (max-width:1440px){
    .cartWrapper{
        position: static;
        width: 100%;
        max-height: unset;
        background:none;
    }
}
@media (max-width:1439px){
    .tourWrapper{
        position: static;
        width: 100%;
        max-height: unset;
        background:none;
    }
   
}


